.card{
    max-height: 700px;
}
.cart-body {
    background-color:rgba(255, 244, 227, 0.775);
}
.button{
    background-color: rgb(240, 35, 62);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 500;
}