.card{
    max-height: 700px;
}
.cart-body {
    background-color: rgba(39, 35, 56, 0.892);
}
.button{
    background-image: linear-gradient(rgb(220, 78, 54),rgb(255, 123, 0));
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}